{% extends "base.twig" %}

{% block body %}
<div class="container">
  <div class="row">
    <img src="https://dummyimage.com/960x300/555/fff" class="img-fluid" alt="...">
    <h1 class="mt-3 mb-3">Blog Post Title</h1>
    <div class="container mb-3">
      <div class="row">
        <span class="text-muted">Max Facktor | June 25, 2024</span>
      </div>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti facere ipsam nostrum maxime eum voluptatibus,
      repellat molestias? Suscipit, consectetur odit. Recusandae eligendi aperiam fuga? Ipsam minus odit placeat
      commodi? Fugiat, et. Veritatis quaerat iusto, exercitationem tenetur incidunt ipsum aliquam amet rem officiis qui
      alias, veniam consectetur consequatur quo similique facere modi tempore consequuntur optio perspiciatis aut?
      Aliquid quasi maxime explicabo, natus corporis assumenda, voluptatibus sequi earum doloremque est tempore,
      voluptatem dolore alias non facere pariatur ullam eum eveniet sapiente beatae perspiciatis ipsa aspernatur iste
      suscipit. Quam, a facere. Ullam minima repellendus modi perferendis esse velit ipsa enim distinctio quos harum!
    </div>
  </div>
</div>
{% endblock body %}